.pagination-wrapper {

  .pages-items {
    margin: 0px 5px;
    margin-bottom: 20px;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif;
    color: #ADADAD;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .active {
    margin-bottom: 20px;
    background-color: #000046;
    color: white;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    border-radius: 360px;
    padding: 5px 10px;
  }
}